# Sample config

enabledAuditors:
    # Auditors are enabled by default if they are not explicitly set to "false"
    apparmor: true
    asat: true
    capabilities: true
    hostns: true
    image: true
    limits: true
    mountds: true
    netpols: true
    nonroot: true
    privesc: true
    privileged: true
    rootfs: true
    runasuser: true
    seccomp: true
auditors:
    capabilities:
        # If no capabilities are specified, a list of recommended capabilities to drop is used
        drop: ["AUDIT_WRITE", "CHOWN"]
    image:
        image: "myimage:mytag"
    limits:
        cpu: "750m"
        memory: "500m"
